*
!\.gitignore

!\.config/dunst*
!\.config/dunst/**

!\.config/gtk-3.0*
!\.config/gtk-3.0/**
\.config/gtk-3.0/bookmarks

!\.config/i3*
!\.config/i3/**
\.config/i3/scripts/battery-pinebook-pro.sh
\.config/i3/scripts/battery.sh
\.config/i3/scripts/blur-lock.sh
\.config/i3/scripts/empty_workspace.sh
\.config/i3/scripts/keyhint.sh
\.config/i3/scripts/openweather.sh

!\.config/nitrogen*
!\.config/nitrogen/**

!\.config/rofi*
!\.config/rofi/**

!\.config/xfce4*
!\.config/xfce4/**
\.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml

!\.config/picom.conf


!\.github/FUNDING.yml

!\.Xresources
!\.gitignore
!\.gtkrc-2.0
!\.nanorc
!LICENSE
!README.md
!force-knowledge.md
!packages-repository.txt
!set_once.sh
!setup.sh
!xed.dconf
